<section class="row">
  <div class="column">
    {{log drawings}}
    <h2>Welcome, {{drawings.0.user.name}}!</h2>
    <h2>Create New Drawing</h2>

    <form class="new-drawing-form">
      <div>
        <label for="drawing-title"> Title:
          <input type="text" id="drawing-title" name="drawing-title" />
        </label>
      </div>
      <div>
        <label for="drawing-description"> Drescription:
          <input type="text" id="drawing-description" name="drawing-description" />
        </label>
      </div>
      <div>
        <button type="submit" class="btn">Create</button>
      </div>
    </form>
  </div>

</section>
{{log drawings}}
{{#if drawings}}
<section>
  <h2>Your Drawings</h2>
  <ul>
    {{#each drawings as |drawings|}}
    <li>
      {{!-- {{> post-info post}} --}}
      <a href="/dashboard/edit/{{drawings.id}}" class="edit-link">{{drawings.name}}</a>
    </li>
    <div class="col-md-4">
      <button class="btn btn-sm btn-danger" data-id="{{drawings.id}}">DELETE</button>
    </div>
    {{/each}}
  </ul>
</section>
{{/if}}

<!--Script to add a post-->
<script src="/js/add-drawing.js"></script>